{% extends "base.html" %}

{% block body %}
    <h2>Erro do servidor</h2>
    <p>Aconteceu um erro no servidor, ao processar a sua requisição dessa página.
     Dentro de instantes iremos verificar e resolver o problema. Tente mais tarde</p>
{% endblock body %}