{% extends "base.html" %}

{% block body %}
    <h3>Sobre</h3>
    <p>
        Esse site foi criado para agregar várias vídeo-aulas, palestras, 
        tutoriais, entre vários outros assuntos relacionados à desenvolvimento 
        de sistemas e software livre.
    </p>
{% endblock body %}
