<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    {% block title %}
        <title>Gilson #DEV Vídeos</title>
    {% endblock title %}

    {% block meta %}
        <meta name="description" content="Gilson #DEV Vídeos agrega todas as
            vídeo-aulas e tutoriais voltados para Python, Django e Software Livre.">
        <meta name="author" content="Gilson #DEV">
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Mobile Specific Metas
    ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% endblock meta %}

    {% block opengraph %}
        <!-- Facebook OpenGraph
        ============================================== -->
        <meta property="og:title" content="Gilson #DEV Vídeos"/>
        <meta property="og:type" content="movie"/>
        <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}"/>
        <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{{ STATIC_URL }}images/movie.png"/>
        <meta property="og:site_name" content="Gilson #DEV Vídeos"/>
        <meta property="fb:app_id" content="272996452759491"/>
        <meta property="og:description" content="Gilson #DEV Vídeos agrega todas as
            vídeo-aulas e tutoriais voltados para Python, Django e Software Livre."/>
    {% endblock opengraph %}

    {% block stylesheets %}
        <!-- CSS
    ================================================== -->
        <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/base.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/base_extended.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/skeleton.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/layout.css">

        <!-- Fonts
    ================================================= -->
        <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

        <!-- Favicons
        ================================================== -->
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114.png">
    {% endblock stylesheets%}

</head>
<body>

    <!-- Facebook SDK
    ================================================== -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=272996452759491";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Primary Page Layout
    ================================================== -->

    <div class="container">
        <div class="sixteen columns">
            <h1 class="remove-bottom" style="margin-top: 40px">Gilson #DEV</h1>
            <h3 id="subtitle">Vídeos</h3>
            <div id="menu">
                <ul>
                    <li><a href="{% url tutorials:list %}">Home</a></li>
                    <li><a href="{% url categories:list %}">Categorias</a></li>
                    <li><a href="{% url about %}">Sobre</a></li>
                </ul>
            </div>
            <hr />
        </div>
        <div class="thirteen columns">
            {% block body %}{% endblock body %}
        </div>
        {% block right %}
            <div class="three columns">
                <h3>Categorias</h3>
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="{% url categories:details category.slug %}">
                                {{ category.name }} ({{ category.videos.count }})
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endblock right %}
        <div class="sixteen columns">
            <hr />
        </div>
    </div><!-- container -->

    {% block scripts %}
        <!-- JS
        ================================================== -->
        <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
        <script src="{{ STATIC_URL }}javascripts/tabs.js"></script>
    {% endblock scripts %}

<!-- End Document
================================================== -->
</body>
</html>
