{% extends "base.html" %}
{% load oembed_tags %}

{% block opengraph %}
    <!-- Facebook OpenGraph
    ============================================== -->
    <meta property="og:title" content="Gilson #DEV - {{ tutorial.title }}"/>
    <meta property="og:type" content="movie"/>
    <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}{% url tutorials:details tutorial.slug %}"/>
    <meta property="og:image" content="http://{{request.META.HTTP_HOST}}{{ tutorial.thumbnail.url }}"/>
    <meta property="og:site_name" content="Gilson #DEV Vídeos"/>
    <meta property="fb:app_id" content="272996452759491"/>
    <meta property="og:description" content="{{ tutorial.resume }}"/>
{% endblock opengraph %}

{% block title %}
    <title>Gilson #DEV - {{ tutorial.title }}</title>
{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{{ STATIC_URL}}stylesheets/tutorials.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block body %}
    <h3>{{ tutorial.title }}</h3>
   <div class="fb-like" data-send="false" data-width="350" data-show-faces="false" data-action="recommend"></div>

    <div id="video_container">
        {{ tutorial.video|oembed:"640x360" }}

    <div id="informations_video">
        <h5>Resumo do Vídeo</h5>
        <p>{{ tutorial.resume }}</p></div>
    </div>

    <div id="comments">
        <h5>Comentários</h5>
        <div class="fb-comments" data-href="http://videos.gilsondev.com" data-num-posts="5" data-width="760"></div>
    </div>
{% endblock body %}


