{% extends "base.html" %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}stylesheets/categories.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block body %}
    <h2>Categorias</h2>
    {% for category in categories %}
        <div class="categories">
            <img src="{{ category.thumbnail.url }}" alt="" width="148" height="148"/>
            <a href="{% url categories:details category.slug %}">{{ category.name }}</a>
        </div>
    {% endfor %}
{% endblock body %}

{% block right %}

{% endblock right %}
