{% extends "base.html" %}
{% load pagination_tags %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{{ STATIC_URL}}stylesheets/tutorials.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block body %}
    <h3>Vídeos da categoria "{{ category.name }}"</h3>
    <br />
    {% autopaginate tutorials %}
        {% for tutorial in tutorials %}
            <dl class="tutorials_list">
                <dt>
                <a href="{% url tutorials:details tutorial.slug %}">{{ tutorial.title }}</a>
                </dt>
                <dd class="thumbnail">
                    <img src="{{ tutorial.thumbnail.url }}" alt="Imagem do Vídeo" />
                </dd>
                <dd>{{ tutorial.resume }}</dd>
                <dd class="tutorials_list_informations">
                    <strong>Duração:</strong> {{ tutorial.duration }} | <strong>Tags:</strong> 
                    {% for tag in tutorial.tags_list %}
                        <a href="{% url tutorials:list_by_tags tag.name %}" class="tag_link">{{ tag }}</a>
                    {% endfor %}
                </dd>
            </dl>
            <hr />
        {% endfor %}
    {% paginate %}
{% endblock body %}
