.tutorials_lists {
    width: 755px;
    min-height: 50px;
    padding: 10px 5px 5px 10px;
}

    .tutorials_list dt {
        font-size: 140%; 
        font-weight: bold;
        margin-bottom: 5px;
    }

    .tutorials_list dt a {
        text-decoration: none;
        color: #900E18;
        text-shadow: 1px 1px 1px #CCC;
        margin: 0 0 0 130px;
    }

    .tutorials_list dt a:hover {
        text-decoration: none;
        color: #4C4C4C;
    }

    .tutorials_list dd {
        font-size: 100%;
        color: #424242;
    }

    .tutorials_list .tutorials_list_informations {
        margin-top: 10px;
        padding-bottom: 15px;
        font-size: 80%;
    }

    .tutorials_list .thumbnail {
        float: left;
        margin: -25px 10px 20px 0;
    }

.tag_link {
    font-size: 95%;
    color: #900E18;
}

#video_container {}

#informations_video {
    padding-top: 20px;
}

    #informations_video h5 {
        font-size: 1.5em;
    }

    #informations_video p {
        font-size: 1.1em;
    }
